<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Instagram User Lookup</title>
  <link rel="stylesheet" href="/style.css">
  <link href="https://site-assets.fontawesome.com/releases/v6.2.1/css/all.css" rel="stylesheet">
</head>

<body id="home">

  <div class="form">
    <h1>Instagram User Lookup</h1>
    <p class="dev">The website <span>Developed</span> by <a href="https://www.instagram.com/anasdevx">anasdevx <i class="fab fa-instagram"></i></a><br> and <span>Designed</span> by <a href="https://www.instagram.com/mohammed5mmc">MohammedMMc <i class="fab fa-instagram"></i></a>.</p>
    <label for="username">Enter a username to get info about:</label>
    <input oninput="updateOptions(this);" type="text" placeholder="Ex: anasdevx" required>
    <div class="options"></div>
  </div>

  <script src="/home.js"></script>
</body>

</html>